@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: white;
  --heading-color: black;
  --text-color: theme("colors.zinc.600");

  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.dark {
  --bg-color: black;
  --heading-color: white;
  --text-color: theme("colors.zinc.400");
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--text-color) var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

h1,
h2,
h3,
.btn {
  color: var(--heading-color);
  opacity: 0.8;
}

p {
  line-height: 1.5rem;
}

/* Hide Modal Scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
